

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding:1em;
}

fieldset{
    display: grid;
}

legend{
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}

label{
    margin: 5px 0px 5px 0px;
}

.submitButton{
    display: flex;
    padding:5px;
    justify-content:end;
}
